# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
staticfiles/

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db